/*
* @Author: {{author}}
* @Date:   {{create_time}}
* @Last Modified by:   {{last_modified_by}}
* @Last Modified time: {{last_modified_time}}
*/


//Author: {{author}}
//Created Date:   {{create_time}}
//Last Modified time: {{last_modified_time}}
#include <bits/stdc++.h>
using namespace std;
#define FAST ios::sync_with_stdio(false);cin.tie(0);cout.tie(0);
#define ll long long int
#define F first
#define S second
#define PB push_back
#define PPB pop_back
#define MP make_pair
#define endl "\n"
const int N = 1e5+10;
const ll MOD = 1e9+7;

void solve(){
    

}

int main(){
    FAST
    int t=1;
    cin >> t;
    while(t--){
        solve();
    }
    return 0;
}
